{% extends 'base.html' %}
{% block content %}
    <h3>아기사자에 도전하는 사람들</h3><br><br>
    <h5>현재 아기사자 지원자는 {{views_count}} 입니다.</h5><br>
    {% if user.is_staff %}
    {% for a in views_apply_all %}
        <br>
        이름: <a href="{%url 'urlnamedetail' a.id %}">{{a.name}}</a><br>
        학번: {{a.student_id}}<br>
        학과: {{a.major}}<br>
        작성날짜: {{a.date}}<br>
        ----------------------------------------------
    {% endfor %}
    {% elif user.is_authenticated %}
    {% for a in views_apply_all %}  
        <br>
        {% if user.student_id == a.student_id %}
            이름: <a href="{%url 'urlnamedetail' a.id %}">{{a.name}}</a><br>
            학번: {{a.student_id}}<br>
        {% else %}
            예비사자
        {% endif %}
            학과: {{a.major}}<br>
            작성날짜: {{a.date}}<br>
            ----------------------------------------------
    {% endfor %}
    {% endif %}
{% endblock %}